body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}

*:focus{
    outline: 2px dotted #ff7500;
}


.site-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    transition: opacity 0.4s ease;
}

.site-logosi:hover {
    opacity: 80%;
}

.site-logosi:active {
    opacity: 60%;
}


.heading-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.site-nav-list {
    list-style: none;
    color: #000;
}   


 
 /* SITE HEADER */
.site-header {
    display: flex;
font-size: 13px;
line-height: 16px;
letter-spacing: 1px;
text-decoration: none;
}


.site-sahifa {
    color: #000;
    text-decoration: none;
    transition:color 0.4s ease  opacity: 60%;;
}

.site-sahifa:hover {
    transition:color 0.4s ease;
    color: #ff7500;
}

.site-sahifa:active {
    opacity: 60%;
}


/* NAV NAV */
.nav-text {
    background-color: #ff7500;
    color: #fff;
    transition: opacity 0.4s ease;
}

.nav-text:hover {
    opacity: 80%;
}

.nav-text:active {
    opacity: 60%;
}


.orange-class {
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}

/* FEATURE */
.feature-class {
    font-size: 40px;
    Line height: 48px;
    letter-spacing: 0.5px; 
    font-family: "Roboto Condensed", "Arial", sans-serif;
}


.feature-img {
    background-color: rgba(255, 117, 0, 0.2);
}

.feature-icons {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.feature-title {
    text-decoration: none;
    color: #000;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}


/* HERO */
.hero {
    background-color: #252420;
    display: flex;
    justify-content: space-between;
}
   

.hero-class {
font-size: 40px;
Line height: 48px;
letter-spacing: 0.5px; 
font-family: "Roboto Condensed", "Arial", sans-serif;
}

.hero-text {
    width: 400px;
    Font size: 16px;
line-height: 24px;
Letter spacing: 0.5px;
}


.div-class {
    background-color: #252420;
    color: #fff;
}


/* AKSIYA */
.aksiya-heading {
    background-color: #252420;
    color: #fff;
    display: flex;
    justify-content: space-between;
}


.aksiya {
    width: 375px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.5px;
    font-family: "Roboto Consendent","Roboto" "Arial", sans-serif;
    display: flex;
    justify-content: space-between;
}


.aksiya-secion {
    background-color: #252420;
    color: #fff;
}


/* CONTENT */
.content-text {
    width: 440px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}


.content-strong {
    color: #ff7500;
}


/*  FOOTER */


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.footer-social {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transition: 0.4s ease;
}
.footer-social:hover {
    opacity: 0.8;
    background-color: #ff7500;
}

.footer-social:active {
    opacity: 0.6;
}


.icon-footer {
    list-style: none;
}


.site-footer-bottom {
    display: flex;
}


.ul-footer {
    list-style: none;
    width: 224px;
    line-height: 19px;
}


.rectangle {
    background-color: #252420;
    width: 1320px;
    height: 2px;
}


.site-footer-links {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #252420;
    transition:color 0.4s ease;
}
.site-footer-links:hover {
    opacity: 80%;
    color: #ff7500;
}

.site-footer-links:active {
    opacity: 60%;
}

 

