* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 0px;
    border: opx;
}

*:focus{
    outline: 2px dotted #ff7500;
}


.site-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


.logo-link {
    transition: opacity 0.4s ease;
}

.site-logosi {
    display: block;;
}


.site-logosi:hover {
    opacity: 80%;
}


.site-logosi:active {
    opacity: 60%;
}


.heading-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


 
 /* SITE HEADER */
 .site-header {
    border-top: 5px solid #ff7500;
    background-color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;

}


.site-header-ul {
    display: flex;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    list-style: none;
    color: #000;
    margin: 0px;   
    margin: 32px;
}


.site-nav-list {
    margin-right: 32px;
}   

.site-nav-list:last-child {
    margin-right: 0%;
}



.site-sahifa {
    color: #000;
    text-decoration: none;
    transition:color 0.4s ease  opacity: 60%;;
}

.site-sahifa:hover {
    transition:color 0.4s ease;
    color: #ff7500;
}

.site-sahifa:active {
    opacity: 60%;
}


/* NAV NAV */
.nav-link {
    background-color: #ff7500;
    color: #fff;
    border-radius: 4px;
    padding: 12px 24px;
    transition: opacity 0.4s ease;
}

.nav-link:hover {
    opacity: 80%;
}

.nav-text:active {
    opacity: 60%;
}

/* HERO */
.hero { 
    background-color: #252420;
    color: #fff;
}

.hero-container {
    max-width: 1100px;
    margin-left: 170px;
    margin-right: 170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-hr {
    background-color: #ff7500;
    width: 80px;
    height: 3px;
    padding: 0px;
    border: 0px;
    margin-bottom: 0px;
    margin-bottom: 40px;
}

.hero-heading {
color: #FFF;
font-size: 40px;
font-family: "Roboto Condensed";
font-weight: 700;
line-height: 120%;
letter-spacing: 0.5px;
margin-bottom: 0px;
padding: 0px;
padding-bottom: 24px;
}

.hero-text {
 color: #FFF;
font-size: 16px;
letter-spacing: 0.5px;
margin-bottom: 0px;
padding: 0px;
padding-bottom: 44px
}

.hero-link {
    background-color: #ff7500;
    color: #fff;
    border-radius: 4px;
    padding: 12px 24px;
    transition: opacity 0.4s ease;
}

.hero-link:hover {
    opacity: 80%;
}

.hero-text:active {
    opacity: 60%;
}

.hero-img {
    width: 510px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 24px 24px 0px 0px rgba(255, 117, 0, 0.60);;
}


/* FEATURE */
.feature-section {
    padding-top: 210px;
    padding-bottom: 210px;
}

.feature-container {
    max-width: 1100px;
    margin-left: 170px;
    margin-right: 170px;
    margin-left: auto;
    margin-right: auto;
}

.feature-hr {
    background-color: #ff7500;
    width: 80px;
    height: 3px;
}

.feature {  
    width: 440px;
    font-size: 72px;
    letter-spacing: 0.5px;
    margin: 0px;
    margin-bottom: 72px;
    line-height: 90px;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}


.feature-icons {
    display: flex;
    list-style: none;
    padding: 0px;
}


.feature-div {
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
    background-color: rgba(255, 117, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}


.feature-title {
    text-decoration: none;
    color: #000;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
    margin-top: 0px;
    padding-bottom: 12px;
}

.feature-text {
    margin-right: 66px;
}


/* AKSIYA */
.promo {
  padding-top: 120px;  
  padding-bottom: 160px;
}

.aksiya-heading {
    background-color: #252420;
    border-radius: 8px;
    color: #fff;
}

.aksiya-promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
}

.aksiya-container {
    max-width: 1100px;
    margin-left: 170px;
    margin-right: 170px;
    margin-left: auto;
    margin-right: auto;
}

.aksiya {
    width: 375px;
    font-size: 40px;
    line-height: 48px;
    margin: 0%;
    margin-top: 64px;
    margin-bottom: 12px;
    letter-spacing: 0.5px;
    font-family: "Roboto Consendent","Roboto" "Arial", sans-serif;
}

.content-text-1 {
    width: 440px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 0px;
    margin-bottom: 0%;
    padding-bottom: 12px;
}


.content-text {
    width: 440px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding-bottom: 24px;
}

.content-text:last-child {
    margin-bottom: 0%;
}


.aksiya-link {
    background-color: #ff7500;
    color: #fff;
    border-radius: 4px;
    padding: 12px 24px;
    transition: opacity 0.4s ease;
}

.aksiya-link:hover {
    opacity: 80%;
}

.aksiya-text:active {
    opacity: 60%;
}

.content-strong {
    color: #ff7500;
}


/*  FOOTER */
.site-footer {
    background-color: rgba(248, 248, 248, 1);
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-social {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0px;
}


.icons-footer {
    display: flex;
    justify-content: flex-end;
    transition: 0.4s ease;
    margin: 0px;
    margin-right: 16px;
}


.icons-footer:last-child {
    margin-right: 0px;
}


.icons-footer:hover {
    opacity: 0.8;
    background-color: #ff7500;
}


.icons-footer:active {
    opacity: 0.6;    
}



.site-footer-bottom {
    display: flex;
}

.site-footer-li {
    margin-bottom: 16px;
}

.site-footer-li:last-child {
    margin-bottom: 0px;
}

.ul-footer {
    list-style: none;
    width: 224px;
    line-height: 19px;
    margin: 0px;
}


.rectangle {
    background-color: #252420;
    width: 1100px;
    height: 2px;
    border: 0px;
    margin-top: 40px;
    margin-bottom: 68px;
}


.site-footer-links {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #252420;
    padding: 0px;
    list-style: none;
    transition:color 0.4s ease;
}


.site-footer-links:hover {
    opacity: 80%;
    color: #ff7500;
}


.site-footer-links:active {
    opacity: 60%;
}

 

