body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.site-nav-list {
    list-style: none;
    color: #000  ;
}
 
 /* SITE HEADER */
.site-header {
font-size: 13px;
line-height: 16px;
letter-spacing: 1px;
text-decoration: none;
}


.site-sahifa {
    color: #000;
    text-decoration: none;
}


/* NAV NAV */
.nav-text {
    background-color: #ff7500;
    color: #fff;
}

.orange-class {
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}

/* FEATURE */
.feature-haeding {
    width: 440px;
    font-size: 72px;
    line-height: 72px;
    font-family: "Roboto Consendent","Roboto" "Arial", sans-serif;
}

.feature-title {
    font-size: 24px;
line-height: 29px;
letter-spacing: 0.5px;
font-family: "Roboto Consendent","Roboto" "Arial", sans-serif;
}

.feature-title {
    list-style: none;
}

.feature-text {
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
}
 
/* HERO */
.hero-class {
font-size: 40px;
Line height: 48px;
letter-spacing: 0.5px; 
font-family: "Roboto Condensed", "Arial", sans-serif;
}

.hero-text {
    width: 400px;
    Font size: 16px;
line-height: 24px;
Letter spacing: 0.5px;
}

.hero-section {
    background-color: #252420;
}

.div-class {
    background-color: #252420;
    color: #fff;
}

.main-class {
    background-color: #252420;
    color: #fff;
}

.main-heading {
    width: 375px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.5px;
    font-family: "Roboto Consendent","Roboto" "Arial", sans-serif;
}

/* AKSIYA */
.content-text {
    width: 440px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.content-strong {
    color: #ff7500;
}

.br-class {
    background-color: #ff7500;
    color: #fff;
}

/* SITE FOOTER */
.icon-rasmlari {
width: 100px;    
height: 100px;
 background-color:rgba(255, 117, 0, 0.2)
}


.site-footer-bg {
    background-color: #f8f8f8;
}

.img-footer {
    text-decoration: none;
}

.rectangle {
    background-color: #252420;
    width: 1320px;
    height: 2px;
}

.ul-footer {
    list-style: none;
    width: 224px;
    line-height: 19px;
}

.site-footer-links {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
}
 

